<p><li><%= comment.content %><br>
	POSTED BY <%= link_to comment.user.email, user_path %>
	<% unless current_user.nil? %>
		<% if current_user == comment.user or current_user.admin? %>
		- <%= link_to "edit", edit_comment_path(comment) %> - <%= link_to "delete", comment, method: :delete %>
			<% end %>
	<% end %>
</li>