$greyborder: grey;
$greyinner: #A3A3A3;

#right-bar{
  border-right:5px solid $greyborder;
  border-bottom:5px solid $greyborder;
  padding-left:5px;
  padding-top:90px;
  padding-right:25px;
  overflow-y: scroll;
  position: fixed;
  height: 320px;
  width: 255px;
  margin-left: 700px;
  margin-top: 140px;
}

#side-title{
  font-size: 20px;
  text-decoration: underline;
}

#side-content{
  color:$greyborder;
}

#floater{
  z-index: +1;
  background-color: $greyinner;
  border:5px solid $greyborder;
  width:240px;
  padding: 10px;
  text-align: center;
  margin-top: 150px;
  position:fixed;
  margin-left: 695px
}